* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    
}

/* _-_-_-_-_ HEADER _-_-_-_-_ */

header .container {
    background: linear-gradient(90deg, #170075, #A200FF);
    height: 46px;;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 40px;
    line-height: 0px;
}

header .container-border-like {
    background: linear-gradient(90deg, #9600FF, #5D00FF);
    height: 4px;
    margin-bottom: 68px;
}

header a {
    margin: 0 7.5px;
    display: inline-block;
}

header .item-4 {
    flex-grow: 1;
    text-align: center;
    padding: 0 20px;
}

@media (max-width: 414px) {
    
    /* header */

    header .container {
        padding: 0 10px;
    }

    .nav, .item-1, .item-2, .item-3, .item-5, .item-6 {
        display: none;
    }

    .item-4 {
        margin-left: 39px;
    }

    header .container-border-like {
        margin-bottom: 0px;
    }

    .hero-image {
        height: 50vh;
    }

    /* hero article */

    div.hero-article h1 {
        line-height: 2rem;
        padding: 0 15px;
        margin-bottom: 20px;
    }

    a.hero-headline {
        font-size: 1.5rem;
    }

    div.hero-article {
        margin-bottom: 70px;
    }

    /* what's hot today section */

    div.hot-today-section {
        padding: 0 15px;
    }

    .hot-today-section h2 {
        font-size: 2rem;
    }

    section.hot {
        padding: 0 15px;
    }

    div.hot-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        column-gap: 20px;
        row-gap: 45px;  
    }
}


/* _-_-_-_-_ NAV _-_-_-_-_ */

.nav {
    margin-bottom: 20px;
}

.nav_container {
    /* background-color: cadetblue; */

    display: flex;
    justify-content: space-around;
    align-items: center;

    /* padding: 0 150px; */
    max-width: 740px;
    margin: 0 auto;

    /* line-height: 0px; */
    list-style: none;
}

.nav a {
    /* background-color: gold; */
    font-size: 1rem;
    color: #090710;
    text-decoration: none;
}

.nav a:hover {
    color: #5D00FF;
    /* text-decoration: underline; */
}

.divider-like {
    background-color: #090710;
    width: 1px;
    height: 10px;
}


/* _-_-_-_-_ HERO ARTICLE _-_-_-_-_ */

.hero-article {
    margin-bottom: 130px;
}

.hero-article > a {
    display: block;
    margin-bottom: 20px;
}

.hero-image {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.hero-article h1 {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    text-align: center;
    margin-bottom: 20px;
}

.hero-headline {
    /* display: block; */
    color: #5D00FF;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    font-size: 2.25rem;
    font-weight: 400;
}

.hero-article > a:hover + h1 > .hero-headline, .hero-headline:hover {
    color: deeppink;
}

.hero-cap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.platform-tag { /* General platform tag selection */
    text-decoration: none;
    font-size: .875rem;
    font-weight: 700;
    padding: 2px 5px;
    margin-right: 1px;
}

.pc-tag {
    background-color: #FFCD00;
    color: #090710;
}

.nintendo-tag {
    background-color: #E4000F;
    color: #FFF;
}

.ps-tag {
    background-color: #003087;
    color: #FFF;
}

.section-tag { /* General section tag selection */
    text-decoration: none;
    font-size: .875rem;
    font-weight: 700;
    padding: 2px 5px;
    margin-right: 10px;
}

.review-tag {
    background-color: #B200A4;
    color: #FFF;
}

.guide-tag {
    background-color: #F10062;
    color: #FFF;
}

.event-tag {
    background-color: #1387F7;
    color: #FFF;
}

.news-tag {
    background-color: #5D00FF;
    color: #FFF;
}

.interview-tag {
    background-color: #FF4F33;
    color: #FFF;
}

.author {
    font-style: italic;
    font-weight: 100;
}

.author a {
    font-weight: 400;
    color: #090710;
}

.author a:hover {
    color: rgb(135, 83, 225);
}


/* _-_-_-_-_ WHAT'S HOT TODAY SECTION _-_-_-_-_ */

section {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 130px;
    padding: 0 40px;
}

h2 {
    color: #5D00FF;

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 100;

    border-left: solid 2px #5D00FF;
    padding-left: 12px;
    margin-bottom: 55px;
}

/* _-_ Hot Grid _-_ */

.hot {
    /* background-color: crimson; */
    padding-bottom: 130px;
}

.hot-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    row-gap: 45px;  
    margin-bottom: 45px;
}

/* .hot-grid > div {
    background-color: goldenrod;
} */

.hot-news-container {
    margin-right: auto;
    margin-left: auto;
}

.hot-news-container img {
    margin-bottom: 15px;
}

a .post-image {
    display: block;
    width: 100%;
    /* max-height: 180px; */
    object-fit: cover;
}

a .review {
    border-top: 4px solid #B200A4;
}

a .guide {
    border-top: 4px solid #F10062;
}

a .event {
    border-top: 4px solid #1387F7;
}

a .news {
    border-top: 4px solid #5D00FF;
}

a .interview {
    border-top: 4px solid #FF4F33;
}

.tags {
    display: inline-flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.score-tag {
    display: block;
    background: linear-gradient(90deg, #E4000F, #B200A4);
    color: white;
    
    width: 44px;
    
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    
    margin-left: auto;
}

.hot-news-container_title {   
    color: #5D00FF;
    display: inline;
    /* text-decoration: none; */
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;

    margin-bottom: 10px;
}

a.hot-news-container_title:hover, .hot-news-container > a:hover + .hot-news-container_title {
    color: red;
}

.hot-news-container > a { 
    display: block;
    position: relative;
}

.hot p {
    /* padding-top: 10px; */
    margin-bottom: 10px;
    color: #090710;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

.hot .author {
      font-size: .875rem;
}

.button-more {
    display: inline-block;
    border: 1px solid #5D00FF;
    background-color: #FFF;
    
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #5D00FF;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    
    margin: 0 auto;
    padding: 15px 32px;
    width: 100%;
}

.button-more:hover {
    background-color: #5D00FF;
    color: #FFF;
}

/* .button-more:hover object {
    fill: #FFF;
} */