* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

p {
    color: #090710;
}

/* _-_-_-_-_ HEADER _-_-_-_-_ */

header .header-container {
    background: linear-gradient(90deg, #170075, #A200FF);
    height: 46px;;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 40px;
    line-height: 0px;
}

header .container-border-like {
    background: linear-gradient(90deg, #9600FF, #5D00FF);
    height: 4px;
    margin-bottom: 50px;
}

header a {
    margin: 0 7.5px;
    display: inline-block;
}

header .item-4 {
    flex-grow: 1;
    text-align: center;
    padding: 0 20px;
}



/* _-_-_-_-_ NAV _-_-_-_-_ */

.nav {
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #FFF;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav_container {
    /* background-color: cadetblue; */

    display: flex;
    justify-content: space-around;
    align-items: center;

    /* padding: 0 150px; */
    max-width: 740px;
    margin: 0 auto;

    /* line-height: 0px; */
    list-style: none;
}

.nav a {
    /* background-color: gold; */
    font-size: 1rem;
    color: #090710;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.nav a:hover {
    color: #5D00FF;
    border-bottom: 2px solid #5D00FF;
    /* text-decoration: underline; */
}

a.selected {
    color: #5D00FF;
    border-bottom: 2px solid #5D00FF;
}

.divider-like {
    background-color: #090710;
    width: 1px;
    height: 10px;
}

/* side nav */

.side-nav-container {
    /* background-color: #FFF; */
    background: linear-gradient(180deg, #DAC6FD, #FCCCDF);
    /* background-color: rgba(255, 255, 255, .8); */
    /* background: linear-gradient(180deg, #170075, #A200FF); */
    /* background: linear-gradient(180deg, #5D00FF, #F10062); */
    max-width: 300px;
    width: 90%;
    position: fixed;
    top: 50px;
    right: -300px;
    z-index: 2;
    transition: right 150ms;
    transition-timing-function: ease;
    /* display: none; */
}

.show-side-nav {
    /* display: block; */
    right: 0;
    transition: right 150ms;
    transition-timing-function: ease;
}

.side-nav-container li {
    list-style: none;
    background-color: rgba(255, 255, 255, .5);
}

.side-nav-container a {
    display: block;
    text-decoration: none;
    color: #090710;
    padding: 25px 40px 25px 40px;
    margin: 0 auto;
    border-left: 6px solid transparent;
}

.side-nav-container a:hover {
    /* background-color: rgb(225, 221, 221); */
    color: #5D00FF;
    /* background-color: #5D00FF; */
}

.side-nav_item-1:hover {
    border-left: 6px solid #A200FF;
}

.side-nav_item-2:hover {
    border-left: 6px solid #5D00FF;
}

.side-nav_item-3:hover {
    border-left: 6px solid #B200A4;
}

.side-nav_item-4:hover {
    border-left: 6px solid #F10062;
}

.side-nav_item-5:hover {
    border-left: 6px solid #FF4F33;
}

.side-nav_item-6:hover {
    border-left: 6px solid #1387F7;
}

.side-nav-container li:hover {
    background-color: rgba(255, 255, 255, .85);
}


/* _-_-_-_-_ HERO ARTICLE _-_-_-_-_ */

.hero-article {
    margin-bottom: 110px;
}

.hero-article > a {
    display: block;
    margin-bottom: 20px;
}

.hero-image {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.hero-article h1 {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    text-align: center;
    margin-bottom: 20px;
}

.hero-headline {
    /* display: block; */
    color: #090710;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    font-size: 2.25rem;
    font-weight: 400;
}

.hero-article > a:hover + h1 > .hero-headline, .hero-headline:hover {
    color: #5D00FF;
}

.hero-cap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.platform-tag { /* General platform tag selection */
    text-decoration: none;
    font-size: .875rem;
    font-weight: 700;
    /* padding: 2px 5px; */
    /* padding: 2px 10px; */
    padding: .25vw 1vw;
    margin-right: 2px;
}

.pc-tag {
    background-color: #FFCD00;
    color: #090710;
}

.xb-tag {
    background-color: #107C10;
    color: #FFF;
}

.nintendo-tag {
    background-color: #E4000F;
    color: #FFF;
}

.ps-tag {
    background-color: #003087;
    color: #FFF;
}

.section-tag { /* General section tag selection */
    text-decoration: none;
    font-size: .875rem;
    font-weight: 700;
    /* padding: 2px 5px; */
    padding: .25vw 1vw;
    margin-right: 10px;
}

.review-tag {
    background-color: #B200A4;
    color: #FFF;
}

.guide-tag {
    background-color: #F10062;
    color: #FFF;
}

.event-tag {
    background-color: #1387F7;
    color: #FFF;
}

.news-tag {
    background-color: #5D00FF;
    color: #FFF;
}

.interview-tag {
    background-color: #FF4F33;
    color: #FFF;
}

.ps-news-tag {
    background: linear-gradient(90deg, #003087, #5D00FF);
}

.ps-guide-tag {
    background: linear-gradient(90deg, #003087, #F10062);
}

.nintendo-review-tag {
    background: linear-gradient(90deg, #E4000F, #B200A4);
}

.ps-review-tag {
    background: linear-gradient(90deg, #003087, #B200A4);
}

.nintendo-guide-tag {
    background: linear-gradient(90deg, #E4000F, #F10062);
}

.pc-review-tag {
    background: linear-gradient(90deg, #FFCD00 1%, #B200A4);
}

.xb-review-tag {
    background: linear-gradient(90deg, #107C10 1%, #B200A4);
}


.author {
    font-style: italic;
    font-weight: 100;
}

.author a {
    font-weight: 400;
    color: #090710;
}

.author a:hover {
    color: #5D00FF;
}


/* _-_-_-_-_ WHAT'S HOT TODAY SECTION _-_-_-_-_ */

section {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 110px;
    padding: 0 40px;
}

h2 {
    color: #5D00FF;

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 100;

    border-left: solid 2px #5D00FF;
    padding-left: 12px;
    margin-bottom: 55px;
}

/* _-_ Hot Grid _-_ */

/* .hot {
    background-color: crimson;
    padding-bottom: 130px;
} */

.hot-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 2vw;
    row-gap: 45px;  
    margin-bottom: 45px;
}


/* .hot-grid_item-1, .hot-grid_item-2 {
    transition: background-color 150ms, transform 150ms;
    transition-timing-function: ease;
    padding: 10px;
}

.hot-grid_item-1:hover, .hot-grid_item-2:hover {
    background-color: #FAFAFA;
    transform: scale(1.025);
} */

/* .hot-grid > div {
    background-color: goldenrod;
} */

.hot-news-container {
    margin-right: auto;
    margin-left: auto;
}

.hot-news-container img {
    margin-bottom: 15px;
}

a .post-image {
    display: block;
    width: 100%;
    /* max-height: 180px; */
    object-fit: cover;
}

/* a .review {
    border-top: 6px solid #B200A4;
} */

/* a .guide {
    border-top: 6px solid #F10062;
} */

/* a .event {
    border-top: 6px solid #1387F7;
} */

/* a .news {
    border-top: 6px solid #5D00FF;
} */

/* a .interview {
    border-top: 6px solid #FF4F33;
} */

.tags {
    display: inline-flex;
    align-items: flex-end;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100%;
}

.score-tag {
    display: block;
    /* background: linear-gradient(90deg, #E4000F, #B200A4); */
    background-color: #B200A4;
    color: #FFF;
    
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    /* font-family: 'Merriweather', serif; */

    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    
    padding: .25vw 1vw;
    margin-left: auto;
    margin-right: 20px;
}

.hot-news-container_anchor > img, .hot-news-container_anchor > img + .tags {
    transition: transform 150ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.hot-news-container_anchor:hover > img, .hot-news-container_anchor:hover > img + .tags {
    transform: translate(0, -9px);
}


.hot-news-container_title {   
    color: #090710;
    display: inline;
    /* text-decoration: none; */
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}

a.hot-news-container_title:hover, .hot-news-container > a:hover + .hot-news-container_title {
    color: #5D00FF;
}

.hot-news-container > a { 
    display: block;
    position: relative;
}

a.hot-news-container_title {
    display: inline;
    padding-bottom: 10px;
}

.hot p {
    padding-top: 10px;
    /* margin-bottom: 10px; */
    color: #090710;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

.hot .author {
      font-size: .875rem;
}

.button-more {
    display: inline-block;
    border: 1px solid #5D00FF;
    background-color: #FFF;
    
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #5D00FF;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    
    margin: 0 auto;
    padding: 15px 32px;
    width: 100%;
}

.button-more:hover {
    background-color: #5D00FF;
    color: #FFF;
}

/* .button-more:hover object {
    fill: #FFF;
} */


/* _-_-_-_-_ LATEST REVIEWS SECTION _-_-_-_-_ */

.latest-reviews {
    /* height: 536px; */
    padding-left: 0;
    padding-right: 0;
    /* padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0; */
    max-width: 100%;
    background: linear-gradient(90deg, #5D00FF, #B200A4);
}

.latest-reviews_container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 52px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;

}

.h2-white {
    color: #FFF;
    border-left: solid 2px #FFF;
    margin: 0;
}

h3 {
    border-right: solid 2px #FFF;
    height: 100%;
    
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    font-weight: 100;
    text-align: right;

    padding-right: 10px;
    margin-left: auto;
    /* margin-bottom: 55px; */
}

h3 a {
    color: #FFF;
    text-decoration: none;
}

h3 a:hover {
    /* background-color: #FFF; */
    /* color: #5D00FF; */
    text-decoration: underline;
}

.slider-image {
    display: block;
    /* object-fit: cover; */
    /* margin: 0 auto; */
    width: 100%;
    /* padding: 40px 30px; */
    padding-bottom: 50px;
}


/* _-_-_-_-_ GUIDES SECTION _-_-_-_-_ */

.guides_container {
    /* background-color: chocolate; */
    display: flex;
    flex-wrap: wrap;
}

/* _-_ NEW GUIDES _-_ */

.new-guides {
    /* background-color: cornflowerblue; */
    width: 65%;
}

.popular-guides {
    /* background-color: pink; */
    width: 30%;
    margin-left: auto;
}

.new-guides_anchor {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

/* .nintendo-border {
    border-top: 8px solid #E4000F;
} */

/* .ps-border {
    border-top: 8px solid #003087;
} */

.new-guides_image {
    display: block;
    object-fit: cover;
    width: 100%;
}

.new-guides_title {
    color: #090710;
    display: inline;

    margin-left: auto;
    margin-right: auto;

    /* text-decoration: none; */
    font-family: 'Merriweather', serif;
    font-size: 2.25rem;
    font-weight: 700;
    text-decoration: none;
    /* margin-bottom: 54px; */
}

a.new-guides_title:hover, .new-guides_anchor:hover + .new-guides_title {
    color: #5D00FF;
}

.new-guides_anchor > img, .new-guides_anchor > img + .tags {
    transition: transform 150ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.new-guides_anchor:hover > img, .new-guides_anchor:hover > img + .tags {
    transform: translate(0, -9px);
}

.new-guides_paragraph {
    line-height: 1.5rem;
    margin-top: 15px;
    margin-bottom: 15px;
}

.new-guides_item-1, .new-guides_item-2 {
    padding-bottom: 60px;
    /* background-color: #FFCD00; */
}


/* _-_ POPULAR GUIDES _-_ */

.popular-guides_title {
    font-size: 2.25rem;
    color: #5D00FF;
    border-right: 2px solid #5D00FF;
    /* margin-left: auto; */
    margin-top: 8px;
    margin-bottom: 61px;
    padding-right: 12px;
    height: auto;
    text-align: right;
}

.popular-guides_container {
    background: linear-gradient(180deg, #5D00FF, #F10062);
}

/* .popular-guides_image {
    background-image: url("../images/gta-online-01.jpg");
    background-color: #5D00FF;
    display: block;
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
} */

.popular-guides_image {
    width: 97.5%;
    object-fit: cover;
}

.popular-guides_item-1:hover .popular-guides_image {
    background-image: url("../images/dualSense-01.jpg");
}

.popular-guides_item-2:hover .popular-guides_image {
    background-image: url("../images/e3-01.jpg");
}

.popular-guides_ol {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: -4px; /* I had to put a negative value in order to snap the top margin of this ol with the image  */
    list-style-type: none;
}

/* .popular-guides_ol li {
    padding-top: 10px;
    padding-bottom: 10px;
} */

.popular-guides_ol li {
    background-color: rgba(255, 255, 255, .8);
    padding-bottom: 10px;
    width: 97.5%;
}

/* .popular-guides_ol li:first-child {
    padding-top: 10px;
} */

/* .popular-guides_ol li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
} */

.popular-guides_anchor {
    display: flex;
    background-color: rgba(255, 255, 255, .25);
    text-decoration: none;
    padding: 15px 30px 18px 0;
    line-height: 1.25rem;
}

.popular-guides_ol > li:hover > a > div {
    color: #FFF;
}

.popular-guides_ol > li:hover > a > div + p {
    color: #FFF;
}

.popular-guides_ol > li:hover > a > div + p > span {
    color: #FFF;
}

.popular-guides_ol > li:hover {
    background-color: rgba(255, 255, 255, 0);
}

.popular-guides_ol > li:hover > a {
    background-color: rgba(255, 255, 255, 0);
}

/* .popular-guides_item-2:hover {

} */



/* .popular-guides_anchor:hover p, .popular-guides_anchor:hover div, .popular-guides_anchor:hover span {
    color: #FFF;
} */

/* .popular-guides_anchor:hover, .popular-guides_ol li:hover {
    background-color: rgba(255, 255, 255, 0);
} */

.popular-guides_number {
    /* display: inline-block; */
    line-height: 3.7rem;
    color: #5D00FF;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
    /* width: 30%; */
    /* text-align: center; */
    padding: 0 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.popular-guides_paragraph {
    /* display: inline-block; */
    color: #090710;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    /* font-size: .875rem; */
    font-size: 1rem;
    font-weight: 400;
    /* padding-left: 5px; */
    /* width: 70%; */
    margin-top: auto;
    margin-bottom: auto;
}

.popular-guides_paragraph span {
    color: #5D00FF;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    
}


/* _-_ MORE GUIDES BUTTON _-_ */

.guides_container .button-more_wrapper {
    width: 100%;
}



/* _-_-_-_-_ FOOTER _-_-_-_-_ */

footer .container-border-like {
    background: linear-gradient(90deg, #9600FF, #5D00FF);
    height: 4px;
}

footer .footer-container {
    background: linear-gradient(90deg, #170075, #A200FF);
    height: 222px;;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    padding: 0 40px;
    line-height: 0px;
    text-align: center;
}

.footer-logo {
    padding-top: 45px;
    margin-bottom: 15px;
}

.footer-container > .footer-icons {
    margin-bottom: 45px;
}

.footer-container > .footer-icons a {
    display: inline-block;
    padding: 0 5px;
}

.copyright {
    color: #FFF;
    font-size: .75rem;
    /* padding-bottom: 52px; */
    line-height: normal;
}



/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */
/* _-_-_-_-_ REVIEWS MAIN PAGE _-_-_-_-_ */

.reviews-header {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 55px;
}

.reviews-header h2 {
    margin: 0;
}

.filter-by-platform-wrapper {
    margin-left: auto;
    padding-right: 5px;
    color: #5D00FF;
    border-right: 2px solid #5D00FF;
}

.filter-by-platform {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    font-weight: 100;
    /* padding-right: 10px; */
}

.filter-by-all {
    /* font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none; */
    color: #FFF;
    background-color: #B200A4;
    /* padding-right: 10px; */
    /* text-align: center; */
    display: inline-block;
}

.filter-by-platform-wrapper .platform-tag {
    margin: 0 5px;
}

.reviews-container {
    display: grid;
    /* grid-template-columns: .8fr 2fr 1fr; */
    grid-template-columns: 362px 550px;
    /* grid-template-rows: 1fr; */
    column-gap: 30px;
    /* row-gap: 45px;    */
    /* align-items: center; */
    margin-bottom: 40px;
    /* background-color: tomato; */
}

.reviews-container .author {
    font-size: .875rem;
    /* color: #8D8D8D; */
}

/* .reviews-container_image {
    display: block;
    width: 100%;
    object-fit: cover;
    position: relative;
} */

.reviews-container_anchor {
    position: relative;
    /* width: 50%; */
    min-width: 360px;
}

.section-top-border {
    width: 100%;
    height: 2.5%;
    position: absolute;
    top: 0;
}

.reviews-container_image {
    background-size: cover;
    width: 100%;
    height: 100%;
    /* height: 30vh; */
    /* object-fit: cover; */
    background-color: #5D00FF;
}

.item-01 > .reviews-container_anchor > .reviews-container_image {
    background-image: url("../images/ac-01.jpg");
}

.item-02 > .reviews-container_anchor > .reviews-container_image {
    background-image: url("../images/cod-warzone-01.jpg");
}

.item-03 > .reviews-container_anchor > .reviews-container_image {
    background-image: url("../images/sot-01.jpg");
}

.item-04 > .reviews-container_anchor > .reviews-container_image {
    background-image: url("../images/ff-vii.jpg");
}

/* .reviews-container_anchor img {
    object-fit: cover;
} */

.reviews-container_title {   
    color: #090710;
    /* display: inline; */
    font-family: 'Merriweather', serif;
    font-size: 1.75rem;
    font-weight: 700;
    text-decoration: none;
}

.reviews-container_title:hover, .reviews-container_anchor:hover + .reviews-container_text > .reviews-container_title {
    color: #5D00FF;
}

.reviews-container_anchor > .reviews-container_image, .reviews-container_anchor > .reviews-container_image + .tags {
    transition: transform 150ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.reviews-container_anchor:hover > .reviews-container_image, .reviews-container_anchor:hover:hover > .reviews-container_image + .tags {
    transform: translate(0, -9px);
}

.reviews-container_paragraph {
    /* float: right; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

.reviews-container_text {
    /* margin-bottom: 20px; */
    /* padding: 10px 0 20px 0; */
    height: 204px;
    padding-right: 40px;
}



/* _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- */
/* _-_-_-_-_-_ ARTICLE _-_-_-_-_-_ */

.review-article {
    max-width: 940px;
    margin-bottom: 70px;
}

.review-article p {
    /* background-color: #FF4F33; */
    margin-bottom: 30px;
    line-height: 1.75rem;
}

p.article-quote {
    color: #5D00FF;
    font-size: 2.25rem;
    line-height: 3rem;
    border-bottom: 2px solid #5D00FF;
    padding-bottom: 12px;
}

.review-article_meta-data {
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-size: 1rem;
    list-style: none;
    margin-bottom: 45px;
}

.review-article_meta-data li b, .review-article_meta-data li {
    font-family: 'Roboto Condensed', sans-serif;
}

.all-caps-paragraph {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.images-wrapper {
    max-width: 940px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
    row-gap: 10px; 
    margin-bottom: 60px;
}

.images-wrapper img {
    object-fit: cover;
    width: 100%;
    /* width: 1920px;
    height: 1080px;
    background-color: #FCCCDF; */
}

.image-wrapper_item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.article-headline {
    color: #5D00FF;
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-weight: 400;
    border: none;
    padding: 0;
    margin-bottom: 25px;
}

.review-footer {
    background: linear-gradient(180deg, #ECE2FC, #FDE5EF);
}

.review-footer_wrapper {
    max-width: 1130px;
    display: flex;
    margin: 0 auto;
    /* padding: 65px 0 67px 0; */
    padding: 65px 40px 67px 40px;
    justify-content: center;
    align-items: center;
}

/* .review-footer_wrapper > img + div {
    margin-right: 66px;
} */

.review-footer_image {
    max-height: 700px;
    max-width: 450px;
    padding-right: 55px;
    object-fit: cover;
}

.review-footer_game-title {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
    border: none;
    padding: 0;
    margin-bottom: 20px;
}

.review-footer_title {
    color: #5D00FF;
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    font-weight: 700;
    border: none;
    margin-bottom: 11px;
    padding-right: 15px;
    display: inline-block;
}

.review-footer_veredict {
    border-left: 2px solid #5D00FF;
    padding-left: 18px;
    padding-bottom: 10px;
    /* max-width: 415px; */
}

.review-footer_veredict div {
    display: inline-block;
    padding: 2.5px 10px;
}

.review-footer_veredict p {
    margin-bottom: 16px;
    font-size: 1.375rem;
    line-height: 2rem;
}

.review-footer_number {
    color: #FFF;
    background-color: #5D00FF;
    /* border-bottom: 13.25px solid #5D00FF; */
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 2.75rem;
    /* font-weight: 700; */
    text-align: center;
    /* max-height: 196px; */
    /* line-height: 11.5rem; */
    /* max-width: 190px; */
    padding: 0px 15px;
}

/* .review-footer_number {
    color: #FFF;
    background-color: #B200A4;
    border-bottom: 13.25px solid #5D00FF;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 7.625rem;
    text-align: center;
    max-height: 196px;
    line-height: 11.5rem;
    max-width: 190px;
    padding: 0px 50px;
} */







/* _-_-_-_-_-_ MEDIA QUERY _-_-_-_-_-_ */

@media (max-width: 1200px) {

    /* _-_ article page _-_ */

    /* .reviews-container {
        grid-template-columns: .8fr 1fr .25fr;
    } */

}

@media (max-width: 992px) {

    .popular-guides_title {
        font-size: 1.75rem;
        margin-bottom: 67px;
        margin-top: 12px;
    }


    /* _-_ review page _-_ */

    .reviews-container {
        grid-template-columns: .8fr 1fr;
        /* grid-template-columns: 282px 436px; */
    }

    .reviews-container_anchor {
        min-width: 282px;
    }

    .reviews-container_paragraph {
        margin-top: 7px;
        margin-bottom: 8px;
    }



}

@media (max-width: 768px) {

    h2 {
        font-size: 2.5rem;
    }

    .hot-grid {
        grid-template-columns: 1fr 1fr;
    }

    .hot-grid_item-5, .hot-grid_item-6 {
        display: none;
    }
    

    .new-guides {
        width: 100%;
    }
    
    .popular-guides {
        display: none;
    }

    /* _-_ reviews main page _-_ */

    .reviews-list {
        padding-left: 15px;
        padding-right: 15px;
    }

    .reviews-container_title {
        font-size: 1.25rem;
    }

    .reviews-container {
        grid-template-columns: .65fr 1fr;
        /* grid-template-columns: 282px 436px; */
    }

    .reviews-container_anchor {
        min-width: 205px;
    }

    .reviews-container_text {
        padding-right: 15px;
    }

    /* .reviews-container {
        grid-template-columns: .8fr 1fr 0fr;
    } */

    /* _-_ reviews article page _-_ */

    .review-article_meta-data {
        display: block;
        text-align: center;
        line-height: 2rem;
    }

    .review-article, .review-footer {
        padding: 0 15px;
    }

    .review-footer_wrapper {
        flex-wrap: wrap;

    }

    .review-footer_image {
        padding-right: 0;
        margin-bottom: 25px;
        max-width: 350px;
        margin-right: auto;
    }

    .review-footer_title {
        font-size: 2.5rem;
    }

    .review-footer_game-title {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .review-footer_veredict p {
        font-size: 1.25rem;
    }

    .review-footer_wrapper {
        padding: 35px 0 35px 0;
    }

}

@media (max-width: 576px) {

    h2 {
        font-size: 2.25rem;
    }
    
    /* header */

    header .header-container {
        padding: 0 10px;
    }

    .nav, .item-1, .item-2, .item-3, .item-5, .item-6 {
        display: none;
    }

    .item-4 {
        margin-left: 39px;
    }

    header .container-border-like {
        margin-bottom: 0px;
    }

    .hero-image {
        height: 50vh;
    }

    /* hero article */

    div.hero-article h1 {
        line-height: 2rem;
        padding: 0 15px;
        margin-bottom: 20px;
    }

    a.hero-headline {
        font-size: 1.5rem;
    }

    div.hero-article {
        margin-bottom: 70px;
    }

    /* what's hot today section */

    div.hot-today-section {
        padding: 0 15px;
    }

    .hot-today-section h2 {
        font-size: 2rem;
    }

    section.hot {
        padding: 0 15px;
    }

    div.hot-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        column-gap: 20px;
        row-gap: 45px;  
    }

    .hot-grid_item-4 {
        display: none;
    }

    /* new guides section */

    section.guides {
        padding: 0 15px;
    }

    /* a.nintendo-border {
        border-top: 4px solid #E4000F;
    } */
    
    /* a.ps-border {
        border-top: 4px solid #003087;
    } */

    div.new-guides {
        width: 100%;
    }

    a.new-guides_title {
        font-size: 1.5rem;
    }

    /* popular guides sub-section */

    div.popular-guides {
        display: none;
    }

    /* _-_ reviews main page _-_ */

    section.reviews-list {
        padding: 0 15px;
    }

    .reviews-header {
        display: inline;
    }

    .filter-by-platform-wrapper {
        padding: 40px 0 50px 0;
        border: none;
        /* text-align: center; */
        /* margin: 0 auto; */
    }
    
    .reviews-container {
        grid-template-columns: .5fr 1fr;
        column-gap: 16px;
        margin-bottom: 30px;
    }

    .reviews-container_anchor {
        min-width: 94px;
    }

    .reviews-container_text {
        height: 94px;
        padding-right: 15px;
    }

    /* .reviews-container_image {
        height: 15vh;
    } */

    .reviews-container_title {   
        font-size: 1rem;
        /* font-weight: 700; */
    }

    .reviews-container_paragraph {
        display: none;
    }

    .reviews-container .author {
        padding-top: 3px;
    }

    .filter-by-platform-wrapper .platform-tag {
        margin: 0 2px;
    }

    .tags {
        left: 5px;
        bottom: 5px;
    }

    .score-tag {
        margin-right: 10px;
    }

    /* _-_ reviews article page _-_ */

    /* .review-footer_image {
        max-width: 350px;
        margin-left: auto;
    } */

}

@media (max-width: 480px) {
    
    .reviews-container {
        grid-template-columns: .25fr 1fr;
        column-gap: 16px;
        margin-bottom: 20px;
    }

    
}

